
h2.ui.horizontal.divider.header Directiva smCheckbox

span( ng-controller = "SmCheckboxCtrl as Ctrl")
    h2.ui.header Parametros
    p El componente acepta los siguientes parametros
        ul
            li ng-functions : Callbacks
            li ng-state : Son los estados que puede tomar el checkbox
    h2.ui.header Estados ( ng-state )
    p Los estados que se pueden pasar en el atributo ng-state secondary
        ul
            li check
            li uncheck
            li indeterminate
            li determinate
            li enabled
            li disabled

    h2.ui.header Funciones para callback ( ng-functions )
    p Para ejecutar las funciones en callback, se manda en el attributo ng-functions como un objeto, a cotinuación se enlistan y se muestra un ejemplo.
        ul
            li onChecked
            li onUnchecked
            li onEnable
            li onDisable
            li onDeterminate
            li onIndeterminate
            li onChange

        div.annotation.transition.visible
            div.ui.instructive.bottom.attached.segment
                div.ui.attached.top.label
                    span.title   Ejemplo de objecto para callback
                pre
                    code.
                        ctrl.callbackFunctions = {
                            onChecked: function onChecked() {
                                console.log('onChecked called');
                            },
                            onUnchecked: function onUnchecked() {
                                console.log('onUnchecked called');
                            },
                            onEnable: function onEnable() {
                                console.log('onEnable called');
                            },
                            onDisable: function onDisable() {
                                console.log('onDisable called');
                            },
                            onDeterminate: function onDeterminate() {
                                console.log('onDeterminate called');
                            },
                            onIndeterminate: function onIndeterminate() {
                                console.log('onIndeterminate called');
                            },
                            onChange: function onChange() {
                                console.log('onChange called');
                            }
                        }



    h2.ui.header Tipos de checkbox
    p Para cambiar el tipo de checkbox, la propiedad se pasa en el atributo 'class'
        ul
            li toggle
            li slider

    p Cuando se requiere el tipo de checkbox por default, se deja en blanco el attributo class


    h2.ui.header Template
    p Nota: El template no debe contener la etiqueta label

    h2.ui.header.green Bien
    div.annotation.transition.visible
        div.ui.instructive.bottom.tertiary.inverted.green.segment
            div.ui.attached.top.label
                span.title   Ejemplo de Template
            pre
                code
                    | 	&lt;div class = "slider" sm-checkbox, ng-state = 'check' ng-functions = "object-functions" &gt;
                    | 	 	&lt;span&gt; Option	&lt;/span&gt;
                    | 	&lt;/div&gt;

    h2.ui.header.red Mal
    div.annotation.transition.visible
        div.ui.instructive.bottom.tertiary.inverted.red.segment
            div.ui.attached.top.label
                span.title   Ejemplo de Template
            pre
                code
                    | 	&lt;div class = "slider" sm-checkbox, ng-state = 'check' ng-functions = "object-functions" &gt;
                    | 	 	&lt;label&gt; Option	&lt;/label&gt;
                    | 	&lt;/div&gt;

    p

    p referencia: http://semantic-ui.com/modules/checkbox.html

    h2.ui.header Ejemplo
    div.ui.positive.check.button( ng-click = "Ctrl.check()" ) Check
    div.ui.negative.uncheck.button( ng-click = "Ctrl.uncheck()" ) Uncheck
    div.ui.button( ng-click = "Ctrl.disabled()" ) Disable checkbox 1
    div.ui.blue.button( ng-click = "Ctrl.enable()" ) Enable checkbox 1
    div.ui.secondary.button( ng-click = "Ctrl.determinate()" ) Determinate checkbox 3
    div.ui.secondary.button( ng-click = "Ctrl.indeterminate()" ) Indeterminate checkbox 3

    p

    div.ui.three.column.center.aligned.stackable.divided.grid.segment
        div.column
            h3.header.title checkbox 1
            div.slider( sm-checkbox, ng-state = 'Ctrl.checkbox.checkbox1.state' ng-functions = "Ctrl.callbackFunctions")
                span {{ Ctrl.checked.checkbox1 }}
        div.column
            h3.header.title checkbox 2
            div.toggle( sm-checkbox, ng-state = 'Ctrl.checkbox.checkbox2.state' )
                span {{ Ctrl.checked.checkbox2 }}
        div.column
            h3.header.title checkbox 3
            div( sm-checkbox, ng-state = 'Ctrl.checkbox.checkbox3.state')
                p option
                span {{ Ctrl.checked.checkbox3 }}


    div.annotation.transition.visible
        div.ui.instructive.bottom.attached.segment
            div.ui.attached.top.label
                span.title Controller

            pre
                code.
                
                    (() => {
                        'use strict';


                        const SmCheckboxCtrl = function ( ) {

                            const ctrl = this

                            const setup = () => {
                                setupVars()
                            }


                            const setupVars = () => {
                                ctrl.checkbox =  {};
                                ctrl.checkbox.checkbox1 = {
                                    txt : "option 1",
                                    disable: false,
                                    state: "checked"
                                }
                                ctrl.checkbox.checkbox2 = ctrl.checkbox3 = {
                                    txt: "option 2",
                                    determinate : "indeterminate",
                                    state: "checked"
                                }
                                ctrl.checkbox.checkbox3 = {
                                    txt: "option 3",
                                    determinate : "indeterminate",
                                    state: "unchecked"
                                }

                                ctrl.callbackFunctions = {
                                    onChecked: function() {
                                        console.log('onChecked called');
                                    },
                                    onUnchecked: function() {
                                        console.log('onUnchecked called');
                                    },
                                    onEnable: function() {
                                        console.log('onEnable called');
                                    },
                                    onDisable: function() {
                                        console.log('onDisable called');
                                    },
                                    onDeterminate: function() {
                                        console.log('onDeterminate called');
                                    },
                                    onIndeterminate: function() {
                                        console.log('onIndeterminate called');
                                    },
                                    onChange: function() {
                                        console.log('onChange called');
                                    }
                                }
                            }

                            ctrl.check = () =>{
                                var checkbox
                                for( checkbox in ctrl.checkbox ){
                                    ctrl.checkbox[ checkbox ].state = 'checked'
                                }
                            }

                            ctrl.uncheck = () =>{
                                var checkbox
                                for( checkbox in ctrl.checkbox ){
                                    ctrl.checkbox[ checkbox ].state = 'unchecked'
                                }
                            }


                            ctrl.disabled = () =>{
                                ctrl.checkbox.checkbox1.state = 'disabled';
                            }

                            ctrl.enable = () => {
                                ctrl.checkbox.checkbox1.state = 'enabled';
                            }


                            ctrl.determinate = () =>{
                                ctrl.checkbox.checkbox3.state = "determinate"
                            }


                            ctrl.indeterminate = () =>{
                                ctrl.checkbox.checkbox3.state = "indeterminate"
                            }


                            setup()


                        }


                        angular
                        .module('smCheckbox')
                        .controller( 'SmCheckboxCtrl', SmCheckboxCtrl );


                    })()
