.nav-container

    nav
        ul
            li
                a(ng-link="[\'SmAccordion\']") sm-accordion
            li
                a(ng-link="[\'SmCheckbox\']") sm-checkbox
            li
                a(ng-link="[\'SmDimmer\']") sm-dimmer
            li
                a(ng-link="[\'SmDropdown\']") sm-dropdown
            li
                a(ng-link="[\'SmEmbed\']") sm-embed

.main-container

    h1 Component Router - Angular-Semantic-UI

    ng-outlet
