//- layout.jade
doctype html
html(lang='en')

    head
        block title
            title Ejemplo componentes
        meta(charset='UTF-8')
        link(rel='stylesheet' href='/bower_components/semantic/dist/semantic.min.css')
        link(rel='stylesheet' href='../commons/styles/commons.css')


    body(ng-app="angularSemanticUI")
        p
        p
        div.ui.container.very.padded.segment
            block content

        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js')
        
        script(src='/bower_components/semantic/dist/semantic.min.js')
        script.
            $(document).ready(function(){
                var aux = $("code.html").html()
                $("code.html").text(aux)
            })
        block script
