
h2.ui.horizontal.divider.header Directiva smEmbed

div( ng-controller="SmEmbedCtrl as Ctrl")
    h2.ui.header Parametros
    p El componente recibe los siguiente parametros
        ul
            li sm-embed : Inicializa la directiva (No recibe argumento - Obligatorio)
            li config : Configura los valores y configuracion de la directiva ( Recibe la configuracion en un json - Opcional)
            li behavior : Setea el comportamiento de la directiva ( Recibe el comportamiento en string o json - Opcional )

    br
    br

    h2.ui.header Inicializa tu primer embed

    h4.ui.header Simple
    p Para generar tu primer embed debes agregar las clases "ui" y "embed" a la directiva sm-embed=" ".

    div.ui.embed( sm-embed="" data-url="https://www.youtube.com/embed/pfdu_gTry8E" data-placeholder="http://semantic-ui.com/images/bear-waving.jpg" )

    br
    br

    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div sm-embed="" class="ui embed" data-url="https://www.youtube.com/embed/pfdu_gTry8E" data-placeholder="http://semantic-ui.com/images/bear-waving.jpg"></div>

    h4.ui.header El uso de IDs para el contenido
    p Tambien puedes introducion videos mediante id's.

    div.ui.embed( sm-embed="" data-source="youtube" data-id="pfdu_gTry8E" )

    br
    br

    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div class="ui embed" data-source="youtube" data-id="pfdu_gTry8E"></div>

    br
    br

    h2.ui.header Configurando opciones
    p.
        Podras mandar las opciones de configuracion para la directiva embed en el parametro config=" " 
        donde recibe como argumento de tipo json con todas las
        #[a(href="http://semantic-ui.com/modules/embed.htm#/settings" target="_new") configuraciones posibles listadas en la documentacion oficial de semantic-ui]


    h4.ui.header Opciones
    p.
        Utiliza el atributo config=" " para mandar un json con las opciones.

    div.ui.embed( sm-embed=""  config=" Ctrl.configEmbed1 ")

    br

    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div class="ui embed" sm-embed=""  config=" Ctrl.configEmbed1 "></div>

    br
    br

    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.configEmbed1 = {
            source: "vimeo",
            id: "125292332",
            placeholder: "http://semantic-ui.com/images/vimeo-example.jpg"
        }

    h2.ui.header Comportamineto
    p.
        Podras asignar comportamientos a la directiva embed, todos los comportamientos estan listado 
        en la pagina oficioal semantic-u-ui

    p.
        Existen comportaminetos que retornar un valor (get) y comportaminetos de asignacion (set)


    h4.ui.header JSON
    p.
        Para los que retornaran un valor necesitaras mandar un json con los atributos "input" y "output"
        en donde "input" correspondera a un string del nombre del comportamiento y en "ouput" se seteara
        el valor retornado por la propiedad en "input"

    p Entrada: {{ Ctrl.behavior1.input }}
    p Salida: {{ Ctrl.behavior1.output }}

    div.ui.embed( sm-embed="" behavior="Ctrl.behavior1" data-source="vimeo" data-id="125292332" data-placeholder="http://semantic-ui.com/images/vimeo-example.jpg" )

    br
    br

    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div class="ui embed" sm-embed="" behavior="Ctrl.behavior1" data-source="vimeo" data-id="125292332" data-placeholder="http://semantic-ui.com/images/vimeo-example.jpg" ></div>

    br
    br

    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.behavior1 = {
            input: "get placeholder",
            output: ""
        }


    h4.ui.header String
    p.
        Para los comportaminetos que no necesitan que se retorne un valor puede mandar un string 
        con el nombre del comportamientos

    div.ui.embed( sm-embed="" behavior="Ctrl.behavior2" data-source="vimeo" data-id="125292332" data-placeholder="http://semantic-ui.com/images/vimeo-example.jpg")

    br
    br


    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div class="ui embed" sm-embed="" behavior="Ctrl.behavior2" data-source="vimeo" data-id="125292332" data-placeholder="http://semantic-ui.com/images/vimeo-example.jpg" ></div>

    br
    br


    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.behavior2 = "hide"

    br
    br
