//- index.jade
extends ../commons/views/layout.jade


block title
    title Ejemplo componente embed


block content
    div( ng-include="'docs.html'" )


block script
    script var myApp = angular.module('angularSemanticUI', [ 'smEmbed' ]);
    script(src='scripts/controller.js')
    script(src='scripts/sm-directive.js')
