.nav-container {
	background: #000;
	color: #FFF;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 200px;
	z-index: 1;
}
.main-container {
	height: 100%;
	margin-left: 200px;
	padding: 50px 80px;
}