
h2.ui.horizontal.divider.header Directiva smDropdown

div( ng-controller="SmDropdownCtrl as Ctrl")
    h2.ui.header Parametros
    p El componente recibe los siguiente parametros
        ul
            li sm-dropdown : Inicializa la directiva (No recibe argumento - Obligatorio)
            li sm-config : Configura el comportamiento del dropdown ( Recibe la configuracion en un json - Opcional)
            li sm-behavior : Setea el comportamiento del dropdown ( Recibe el comportamiento en string o json - Opcional )
            li sm-clear-or-reset : Limpia y resetea el dropdown ( Recibe un string - Opcional )

    br
    br

    h2.ui.header Inicializa tu primer dropdown

    h4.ui.header Simple
    p Para generar tu primer dropdown debes agregar las clases "ui" y "dropdown" al contenedor principal mas la directiva sm-dropdown=" "
    div.ui.dropdown( sm-dropdown="" )
        input(type='hidden', name='gender')
        div.default.text Gender
        i.dropdown.icon
        div.menu
            div.item(data-value='male') Male
            div.item(data-value='female') Female
    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div sm-dropdown="" class="ui dropdown">
            <input type="hidden" name="gender"/>
            <div class="default text">Gender</div><i class="dropdown icon"></i>
            <div class="menu">
                <div data-value="male" class="item">Male</div>
                <div data-value="female" class="item">Female</div>
            </div>
        </div>

    h4.ui.header Iconos
    p.
        Puedes colocar iconos en tus opciones con la clase "icon" y agregar los border al dropdown 
        con la clase "selection" al contenedor principial
    div.ui.selection.dropdown( sm-dropdown="" )
        input(type='hidden', name='gender')
        i.dropdown.icon
        div.default.text Gender
        div.menu
            div.item(data-value='male', data-text='Male')
                i.male.icon
                |       Male
            div.item(data-value='female', data-text='Female')
                i.female.icon
                |       Female
    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div sm-dropdown="" class="ui selection dropdown">
            <input type="hidden" name="gender"/>
            <i class="dropdown icon"></i>
            <div class="default text">Gender</div>
            <div class="menu">
                <div data-value="male" data-text="Male" class="item">
                    <i class="male icon"></i>
                    Male
                </div>
                <div data-value="female" data-text="Female" class="item">
                    <i class="female icon"></i>
                    Female
                </div>
            </div>
        </div>

    br
    br

    h4.ui.header Valor y texto
    p.
        Podras definir valores diferentes para el texto de opcion como para el valor 
        de la opcion, con las etiquetas data-value=" " y data-text=" "
    div.ui.selection.dropdown( sm-dropdown="" )
        input(type='hidden', name='gender')
        i.dropdown.icon
        div.default.text Gender
        div.menu
            div.item(data-value='male', data-text='Male')
                i.male.icon
                |       Male
            div.item(data-value='female', data-text='Female')
                i.female.icon
                |       Female
    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div sm-dropdown="" class="ui selection dropdown">
            <input type="hidden" name="gender"/><i class="dropdown icon"></i>
            <div class="default text">Gender</div>
            <div class="menu">
                <div data-value="male" data-text="Male" class="item">
                    <i class="male icon"></i>
                    Male
                    </div>
                <div data-value="female" data-text="Female" class="item">
                    <i class="female icon"></i>
                    Female
                </div>
            </div>
        </div>

    br
    br

    h4.ui.header Select
    p Generar un dropdown con un select nativo
    select.ui.dropdown(sm-dropdown="")
        option(value='') Gender
        option(value='male') Male
        option(value='female') Female
    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <select sm-dropdown="" class="ui dropdown">
            <option value="">Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    br
    br


    h4.ui.header Busqueda
    p.
        El uso de un campo de busqueda dentro del dropdown le permitirá a los usuarios 
        buscar más fácilmente a través de listas de gran tamaño.
        Para ello solo agrega la clase "search" el contenedor principal.

    select.ui.search.selection.dropdown( sm-dropdown="" )
        option(value='') State
        option(value='CA') California
        option(value='AL') Alabama
        option(value='AK') Alaska
        option(value='AZ') Arizona
        option(value='AR') Arkansas
        option(value='WI') Wisconsin
        option(value='OH') Ohio
        option(value='OK') Oklahoma
        option(value='OR') Oregon
        option(value='PA') Pennsylvania
        option(value='RI') Rhode Island
        option(value='SC') South Carolina
        option(value='SD') South Dakota
        option(value='TN') Tennessee
        option(value='TX') Texas
        option(value='UT') Utah
        option(value='VT') Vermont
        option(value='VA') Virginia
        option(value='WA') Washington
        option(value='WV') West Virginia
        option(value='WY') Wyoming
    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <select sm-dropdown="" class="ui search selection dropdown">
            <option value="">State</option>
            <option value="CA">California</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="WI">Wisconsin</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WY">Wyoming</option>
        </select>

    br
    br

    h4.ui.header Multiseleccion
    p.
        En ocasiones necesitas seleccionar mas de una sola opcion dentro de un dropdown.
        Para ellos solo necesitas agregar la clase "multiple" al contenedor principal.

    div.ui.multiple.selection.dropdown( sm-dropdown="" )
        input(name='states', type='hidden')
        i.dropdown.icon
        div.default.text States
        div.menu
            div.item(data-value='AL') Alabama
            div.item(data-value='AK') Alaska
            div.item(data-value='AZ') Arizona
            div.item(data-value='AR') Arkansas
            div.item(data-value='CA') California
            div.item(data-value='OH') Ohio
            div.item(data-value='OK') Oklahoma
            div.item(data-value='OR') Oregon
            div.item(data-value='PA') Pennsylvania
            div.item(data-value='RI') Rhode Island
            div.item(data-value='SC') South Carolina
            div.item(data-value='SD') South Dakota
            div.item(data-value='TN') Tennessee
            div.item(data-value='TX') Texas
            div.item(data-value='UT') Utah
            div.item(data-value='VT') Vermont
            div.item(data-value='VA') Virginia
            div.item(data-value='WA') Washington
            div.item(data-value='WV') West Virginia
            div.item(data-value='WI') Wisconsin
            div.item(data-value='WY') Wyoming
    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div sm-dropdown="" class="ui multiple selection dropdown">
            <input name="states" type="hidden"/><i class="dropdown icon"></i>
            <div class="default text">States</div>
            <div class="menu">
                <div data-value="AL" class="item">Alabama</div>
                <div data-value="AK" class="item">Alaska</div>
                <div data-value="AZ" class="item">Arizona</div>
                <div data-value="AR" class="item">Arkansas</div>
                <div data-value="CA" class="item">California</div>
                <div data-value="OH" class="item">Ohio</div>
                <div data-value="OK" class="item">Oklahoma</div>
                <div data-value="OR" class="item">Oregon</div>
                <div data-value="PA" class="item">Pennsylvania</div>
                <div data-value="RI" class="item">Rhode Island</div>
                <div data-value="SC" class="item">South Carolina</div>
                <div data-value="SD" class="item">South Dakota</div>
                <div data-value="TN" class="item">Tennessee</div>
                <div data-value="TX" class="item">Texas</div>
                <div data-value="UT" class="item">Utah</div>
                <div data-value="VT" class="item">Vermont</div>
                <div data-value="VA" class="item">Virginia</div>
                <div data-value="WA" class="item">Washington</div>
                <div data-value="WV" class="item">West Virginia</div>
                <div data-value="WI" class="item">Wisconsin</div>
                <div data-value="WY" class="item">Wyoming</div>
            </div>
        </div>
    br
    br

    p Tambien puedes hacerlo con un select, solo que en esta ocasion deberar pasar multiple como un atributo multiple=" "

    select.ui.selection.dropdown( sm-dropdown="" multiple='')
        option(value='') States
        option(value='AL') Alabama
        option(value='AK') Alaska
        option(value='AZ') Arizona
        option(value='AR') Arkansas
        option(value='CA') California
        option(value='OH') Ohio
        option(value='OK') Oklahoma
        option(value='OR') Oregon
        option(value='PA') Pennsylvania
        option(value='RI') Rhode Island
        option(value='SC') South Carolina
        option(value='SD') South Dakota
        option(value='TN') Tennessee
        option(value='TX') Texas
        option(value='UT') Utah
        option(value='VT') Vermont
        option(value='VA') Virginia
        option(value='WA') Washington
        option(value='WV') West Virginia
        option(value='WI') Wisconsin
        option(value='WY') Wyoming

    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <select sm-dropdown="" multiple="" class="ui selection dropdown">
            <option value="">States</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>




    h2.ui.header Configurando opciones
    p.
        Podras mandar las opciones de configuracion para el dropdown en el parametro sm-config=" " 
        donde recibe como argumento de tipo json con todas las
        #[a(href="http://semantic-ui.com/modules/dropdown.html#/settings" target="_new") configuraciones posibles listadas en la documentacion oficial de semantic-ui]


    h4.ui.header Hover
    p.
        Utiliza el atributo sm-config=" " para mandar un json con la opcion { on: "hover" } y activar la opcion de hover.

    div.ui.vertical.menu( sm-dropdown="" sm-config="Ctrl.configDropdown1")
        div.ui.dropdown.item
            i.dropdown.icon
            |     Colors
            select
                option Red
                option Black
                option Blue
                option Green
        div.ui.dropdown.item
            i.dropdown.icon
            |     Sizes
            select
                option Small
                option Medium
                option Large
                option Huge

    br
    br

    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div sm-dropdown="" sm-config="Ctrl.configDropdown1" class="ui vertical menu">
            <div class="ui dropdown item">
                <i class="dropdown icon"></i>
                Colors
                <select>
                    <option>Red</option>
                    <option>Black</option>
                    <option>Blue</option>
                    <option>Green</option>
                </select>
            </div>
            <div class="ui dropdown item">
                <i class="dropdown icon"></i>
                Sizes
                <select>
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                    <option>Huge</option>
                </select>
            </div>
        </div>
    br
    br
    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.configDropdown1 = {
            on: 'hover'
        }
    br
    br

    h4.ui.header Acciones
    p.
        El dropdown tienen múltiples acciones integradas que pueden ocurrir 
        en la opción seleccionada. Puede especificar una acción integrada pasando su 
        nombre en sm-config=" " o pasar una función personalizada que realiza una acción.

    div.ui.dropdown.selection( sm-dropdown="" sm-config="Ctrl.configDropdown2" )
        input(type='hidden', name='gender')
        div.default.text Gender
        i.dropdown.icon
        div.menu
            div.item(data-value='male') Male
            div.item(data-value='female') Female
    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div sm-dropdown="" sm-config="Ctrl.configDropdown2" class="ui dropdown selection">
            <input type="hidden" name="gender"/>
            <div class="default text">Gender</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div data-value="male" class="item">Male</div>
                <div data-value="female" class="item">Female</div>
            </div>
        </div>

    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.configDropdown2 = {
             action: 'combo'
        }
    div(hljs).
        ctrl.configDropdown2 = {
            action: function(text, value) {
             // Algun codigo
           })
        }
    div(hljs).
        ctrl.configDropdown2 = {
            onChange: function ( _value, _text, _$choice) {
                // Algo de codigo
            }
        }

    br
    br

    h4.ui.header Selecciones maximas
    p.
        Puedes limitar a un dropdown de selecciones multiples
        a seleccionar un numero maximo de opciones con la propiedad "maxSelections"
        dentro del json de sm-config=" "

    div.ui.sub.header Seleccion
    select.ui.fluid.normal.dropdown( sm-dropdown="" sm-config="Ctrl.configDropdown3" multiple='')
        option(value='') Skills
        option(value='angular') Angular
        option(value='css') CSS
        option(value='design') Graphic Design
        option(value='ember') Ember
        option(value='html') HTML
        option(value='ia') Information Architecture
        option(value='javascript') Javascript
        option(value='mech') Mechanical Engineering
        option(value='meteor') Meteor
        option(value='node') NodeJS
        option(value='plumbing') Plumbing
        option(value='python') Python
        option(value='rails') Rails
        option(value='react') React
        option(value='repair') Kitchen Repair
        option(value='ruby') Ruby
        option(value='ui') UI Design
        option(value='ux') User Experience

    div.ui.sub.header Seleccion con busqueda
    div.ui.fluid.multiple.search.normal.selection.dropdown( sm-dropdown="" sm-config="Ctrl.configDropdown3" multiple='')
        input(type='hidden', name='country')
        i.dropdown.icon
        div.default.text Select Country
        div.menu
            div.item(data-value='af')
                i.af.flag
                | Afghanistan
            div.item(data-value='ax')
                i.ax.flag
                | Aland Islands
            div.item(data-value='al')
                i.al.flag
                | Albania
            div.item(data-value='dz')
                i.dz.flag
                | Algeria
            div.item(data-value='as')
                i.as.flag
                | American Samoa
            div.item(data-value='ad')
                i.ad.flag
                | Andorra
            div.item(data-value='ao')
                i.ao.flag
                | Angola
            div.item(data-value='ai')
                i.ai.flag
                | Anguilla
            div.item(data-value='ag')
                i.ag.flag
                | Antigua
            div.item(data-value='ar')
                i.ar.flag
                | Argentina
            div.item(data-value='am')
                i.am.flag
                | Armenia
            div.item(data-value='aw')
                i.aw.flag
                | Aruba
            div.item(data-value='au')
                i.au.flag
                | Australia
            div.item(data-value='at')
                i.at.flag
                | Austria
            div.item(data-value='az')
                i.az.flag
                | Azerbaijan

    div.ui.sub.header Sin labels
    div.ui.fluid.multiple.search.special.selection.dropdown( sm-dropdown="" sm-config="Ctrl.configDropdown4" multiple='')
        input(type='hidden', name='country')
        i.dropdown.icon
        div.default.text Select Country
        div.menu
            div.item(data-value='af')
                i.af.flag
                | Afghanistan
            div.item(data-value='ax')
                i.ax.flag
                | Aland Islands
            div.item(data-value='al')
                i.al.flag
                | Albania
            div.item(data-value='dz')
                i.dz.flag
                | Algeria
            div.item(data-value='as')
                i.as.flag
                | American Samoa
            div.item(data-value='ad')
                i.ad.flag
                | Andorra
            div.item(data-value='ao')
                i.ao.flag
                | Angola
            div.item(data-value='ai')
                i.ai.flag
                | Anguilla
            div.item(data-value='ag')
                i.ag.flag
                | Antigua
            div.item(data-value='ar')
                i.ar.flag
                | Argentina
            div.item(data-value='am')
                i.am.flag
                | Armenia
            div.item(data-value='aw')
                i.aw.flag
                | Aruba
            div.item(data-value='au')
                i.au.flag
                | Australia
            div.item(data-value='at')
                i.at.flag
                | Austria
            div.item(data-value='az')
                i.az.flag
                | Azerbaijan
    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <select sm-dropdown="" sm-config="Ctrl.configDropdown3" multiple="" class="ui fluid normal dropdown">
            <option value="">Skills</option>
            <option value="angular">Angular</option>
            <option value="css">CSS</option>
            <option value="design">Graphic Design</option>
            <option value="ember">Ember</option>
            <option value="html">HTML</option>
            <option value="ia">Information Architecture</option>
            <option value="javascript">Javascript</option>
            <option value="mech">Mechanical Engineering</option>
            <option value="meteor">Meteor</option>
            <option value="node">NodeJS</option>
            <option value="plumbing">Plumbing</option>
            <option value="python">Python</option>
            <option value="rails">Rails</option>
            <option value="react">React</option>
            <option value="repair">Kitchen Repair</option>
            <option value="ruby">Ruby</option>
            <option value="ui">UI Design</option>
            <option value="ux">User Experience</option>
        </select>

        <div sm-dropdown="" sm-config="Ctrl.configDropdown3" multiple="" class="ui fluid multiple search normal selection dropdown">
            <input type="hidden" name="country"/><i class="dropdown icon"></i>
            <div class="default text">Select Country</div>
            <div class="menu">
                <div data-value="af" class="item"><i class="af flag"></i>Afghanistan</div>
                <div data-value="ax" class="item"><i class="ax flag"></i>Aland Islands</div>
                <div data-value="al" class="item"><i class="al flag"></i>Albania</div>
                <div data-value="dz" class="item"><i class="dz flag"></i>Algeria</div>
                <div data-value="as" class="item"><i class="as flag"></i>American Samoa</div>
                <div data-value="ad" class="item"><i class="ad flag"></i>Andorra</div>
                <div data-value="ao" class="item"><i class="ao flag"></i>Angola</div>
                <div data-value="ai" class="item"><i class="ai flag"></i>Anguilla</div>
                <div data-value="ag" class="item"><i class="ag flag"></i>Antigua</div>
                <div data-value="ar" class="item"><i class="ar flag"></i>Argentina</div>
                <div data-value="am" class="item"><i class="am flag"></i>Armenia</div>
                <div data-value="aw" class="item"><i class="aw flag"></i>Aruba</div>
                <div data-value="au" class="item"><i class="au flag"></i>Australia</div>
                <div data-value="at" class="item"><i class="at flag"></i>Austria</div>
                <div data-value="az" class="item"><i class="az flag"></i>Azerbaijan</div>
            </div>
        </div>

        <div sm-dropdown="" sm-config="Ctrl.configDropdown4" multiple="" class="ui fluid multiple search special selection dropdown">
            <input type="hidden" name="country"/><i class="dropdown icon"></i>
            <div class="default text">Select Country</div>
            <div class="menu">
                <div data-value="af" class="item"><i class="af flag"></i>Afghanistan</div>
                <div data-value="ax" class="item"><i class="ax flag"></i>Aland Islands</div>
                <div data-value="al" class="item"><i class="al flag"></i>Albania</div>
                <div data-value="dz" class="item"><i class="dz flag"></i>Algeria</div>
                <div data-value="as" class="item"><i class="as flag"></i>American Samoa</div>
                <div data-value="ad" class="item"><i class="ad flag"></i>Andorra</div>
                <div data-value="ao" class="item"><i class="ao flag"></i>Angola</div>
                <div data-value="ai" class="item"><i class="ai flag"></i>Anguilla</div>
                <div data-value="ag" class="item"><i class="ag flag"></i>Antigua</div>
                <div data-value="ar" class="item"><i class="ar flag"></i>Argentina</div>
                <div data-value="am" class="item"><i class="am flag"></i>Armenia</div>
                <div data-value="aw" class="item"><i class="aw flag"></i>Aruba</div>
                <div data-value="au" class="item"><i class="au flag"></i>Australia</div>
                <div data-value="at" class="item"><i class="at flag"></i>Austria</div>
                <div data-value="az" class="item"><i class="az flag"></i>Azerbaijan</div>
            </div>
        </div>

    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.configDropdown3 = {
            maxSelections: 3
        }

        ctrl.configDropdown4 = {
            maxSelections: 3,
            useLabels: false
        }


    br
    br


    h4.ui.header Contenido remoto
    p.
        Puedes crear las opciones de tu dropdown desde la respuesta de una llamada remota.
    p.
        Utiliza la opcion "apiSettings" dentro del json de sm-config=" " y añade la clase "search"
        al contenedor principal.

    select.ui.dropdown.search(sm-dropdown="" sm-config="Ctrl.configDropdown5")
        option(value='') Gender
        option(value='male') Male
        option(value='female') Female
    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <select sm-dropdown="" sm-config="Ctrl.configDropdown5" class="ui dropdown search">
            <option value="">Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.configDropdown5 = {
            apiSettings: {
                url: '//api.semantic-ui.com/tags/{query}'
            }
        }

    h4.ui.header Otras opciones

    p.
        Entre otras opciones puedes adaptar hacia donde quieres que se desplieque el dropdown con la propiedad " direction ".

    p.
        Tambien puedes aditar el efecto con el que se despliega tu dropdown con la propiedad " transition "

    select.ui.dropdown.search(sm-dropdown="" sm-config="Ctrl.configDropdown6")
        option(value='') Gender
        option(value='male') Male
        option(value='female') Female

    br
    br

    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <select sm-dropdown="" sm-config="Ctrl.configDropdown6" class="ui dropdown search">
            <option value="">Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.configDropdown6 = {
            debug: true,
            direction: 'upward',
            transition: 'scale'
        }


    h2.ui.header Comportamineto
    p.
        Podras asignar comportamientos el dropdown, todos los comportamientos estan listado 
        en la pagina oficioal semantic-u-ui

    p.
        Existen comportaminetos que retornar un valor (get) y comportaminetos de asignacion (set)


    h4.ui.header JSON
    p.
        Para los que retornaran un valor necesitaras mandar un json con los atributos "input" y "output"
        en donde "input" correspondera a un string del nombre del comportamiento y en "ouput" se seteara
        el valor retornado por la propiedad en "input"

    p Entrada: {{ Ctrl.behavior3.input }}
    p Salida: {{ Ctrl.behavior3.output }}

    div.ui.selection.dropdown( sm-dropdown="", sm-behavior="Ctrl.behavior3" )
        input(type='hidden', name='gender')
        i.dropdown.icon
        div.default.text Gender
        div.menu
            div.item(data-value='male', data-text='Male')
                i.male.icon
                |       Male
            div.item(data-value='female', data-text='Female')
                i.female.icon
                |       Female
    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div sm-dropdown="" sm-behavior="Ctrl.behavior3" class="ui selection dropdown">
            <input type="hidden" name="gender"/><i class="dropdown icon"></i>
            <div class="default text">Gender</div>
            <div class="menu">
                <div data-value="male" data-text="Male" class="item">
                    <i class="male icon"></i>
                    Male
                </div>
                <div data-value="female" data-text="Female" class="item">
                    <i class="female icon"></i>
                    Female
                </div>
            </div>
        </div>

    br
    br


    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.behavior3 = {
                    input: "get placeholder text",
                    output: ""
                }


    h4.ui.header String
    p.
        Para los comportaminetos que no necesitan que se retorne un valor puede mandar un string 
        con el nombre del comportamientos

    div.ui.selection.dropdown( sm-dropdown="", sm-behavior="Ctrl.behavior4" )
        input(type='hidden', name='gender')
        i.dropdown.icon
        div.default.text Gender
        div.menu
            div.item(data-value='male', data-text='Male')
                i.male.icon
                |       Male
            div.item(data-value='female', data-text='Female')
                i.female.icon
                |       Female
    br
    br
    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div sm-dropdown="" sm-behavior="Ctrl.behavior4" class="ui selection dropdown">
            <input type="hidden" name="gender"/><i class="dropdown icon"></i>
            <div class="default text">Gender</div>
            <div class="menu">
                <div data-value="male" data-text="Male" class="item">
                    <i class="male icon"></i>
                    Male
                </div>
                <div data-value="female" data-text="Female" class="item">
                    <i class="female icon"></i>
                    Female
                </div>
            </div>
        </div>

    br
    br


    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.behavior4 = "show"

    br
    br

    h2.ui.header Limpiar y resetear contenido

    h4.ui.header Limpiar
    p.
        Puedes limpiar el contenido de los dropdown colocando el texto "clear" en el 
        la opcion sm-clear-or-reset=""

    div.ui.multiple.selection.dropdown( sm-dropdown="" sm-clear-or-reset="Ctrl.clearDropdown" )
        input(name='gender', type='hidden', value='0,1')
        i.dropdown.icon
        div.default.text Default
        div.menu
            div.item(data-value='0') Value
            div.item(data-value='1') Another Value
    div.ui.selection.dropdown( sm-dropdown="" sm-clear-or-reset="Ctrl.clearDropdown" )
        input(name='gender', type='hidden')
        div.default.text Select a value
        i.dropdown.icon
        div.menu
            div.item(data-value='0') Value
            div.item(data-value='1') Another Value
    div.ui.button( ng-click="Ctrl.clean()")
        | Clear

    br
    br

    div.ui.pointing.below.ignored.language.label HTML
    div(hljs).
        <div sm-dropdown="" sm-clear-or-reset="Ctrl.clearDropdown" class="ui multiple selection dropdown">
            <input name="gender" type="hidden" value="0,1"/><i class="dropdown icon"></i>
            <div class="default text">Default</div>
            <div class="menu">
                <div data-value="0" class="item">Value</div>
                <div data-value="1" class="item">Another Value</div>
            </div>
        </div>

        <div sm-dropdown="" sm-clear-or-reset="Ctrl.clearDropdown" class="ui selection dropdown">
            <input name="gender" type="hidden"/>
            <div class="default text">Select a value</div><i class="dropdown icon"></i>
            <div class="menu">
                <div data-value="0" class="item">Value</div>
                <div data-value="1" class="item">Another Value</div>
            </div>
        </div>

        <div ng-click="Ctrl.clean()" class="ui button">Clear</div>

    br
    br

    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.clean = function () {
            ctrl.clearDropdown = 'clear';
        }

    h4.ui.header Resetear
    p.
        Puedes colocar los contenidos por default colocando el texto "restore defaults" en el 
        la opcion sm-clear-or-reset=""

    div.ui.multiple.selection.dropdown( sm-dropdown="" sm-clear-or-reset="Ctrl.resetDropdown" )
        input(name='gender', type='hidden', value='default,default2')
        i.dropdown.icon
        div.default.text Default
        div.menu
            div.item(data-value='0') Value
            div.item(data-value='1') Another Value
            div.item(data-value='default') Default Value
            div.item(data-value='default2') Second Default
    div.ui.divider
    div.ui.selection.dropdown( sm-dropdown="" sm-clear-or-reset="Ctrl.resetDropdown" )
        input(name='gender', type='hidden', value='default')
        i.dropdown.icon
        div.default.text Select a value
        div.menu
            div.item(data-value='0') Value
            div.item(data-value='1') Another Value
    div.ui.divider
    div.ui.selection.dropdown( sm-dropdown="" sm-clear-or-reset="Ctrl.resetDropdown" )
        input(name='gender', type='hidden', value='default')
        i.dropdown.icon
        div.text Default Value
        div.menu
            div.item(data-value='0') Value
            div.item(data-value='1') Another Value
            div.item(data-value='default') Default Value
    div.ui.divider
    div.ui.primary.button( ng-click=" Ctrl.reset() " )
        | Restaurar todos los dropdowns

    br
    br

    div.ui.pointing.below.ignored.language.label HTML

    div(hljs).
        <div sm-dropdown="" sm-clear-or-reset="Ctrl.resetDropdown" class="ui multiple selection dropdown">
            <input name="gender" type="hidden" value="default,default2"/><i class="dropdown icon"></i>
            <div class="default text">Default</div>
            <div class="menu">
                <div data-value="0" class="item">Value</div>
                <div data-value="1" class="item">Another Value</div>
                <div data-value="default" class="item">Default Value</div>
                <div data-value="default2" class="item">Second Default</div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div sm-dropdown="" sm-clear-or-reset="Ctrl.resetDropdown" class="ui selection dropdown">
            <input name="gender" type="hidden" value="default"/><i class="dropdown icon"></i>
            <div class="default text">Select a value</div>
            <div class="menu">
                <div data-value="0" class="item">Value</div>
                <div data-value="1" class="item">Another Value</div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div sm-dropdown="" sm-clear-or-reset="Ctrl.resetDropdown" class="ui selection dropdown">
            <input name="gender" type="hidden" value="default"/><i class="dropdown icon"></i>
            <div class="text">Default Value</div>
            <div class="menu">
                <div data-value="0" class="item">Value</div>
                <div data-value="1" class="item">Another Value</div>
                <div data-value="default" class="item">Default Value</div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div ng-click=" Ctrl.reset() " class="ui primary button">
            Restore All Dropdowns
        </div>

    br
    br

    div.ui.pointing.below.ignored.language.label Javascript
    div(hljs).
        ctrl.reset = function () {
            ctrl.resetDropdown = 'restore defaults';
        }
