

h2.ui.horizontal.divider.header Directiva smDimmer

span
    h2.ui.header Parametros
    p El componente acepta los siguientes parametros:
    ul
        li display: Para mostrar u ocultar el dimmer (show, hide)
        li state: Para mostrar u ocultar el dimmer (active, disabled)
        li dimmer-class: Para el estilo y estados del dimmer (inverted, simple)
        li sm-functions
        
    h2.ui.header Estados ( state )
    p Los estados que se pueden pasar en el atributo state secondary

    //- div.ui.button(ng-click="Ctrl.displayDimmer('hover')") Hover Dimmer

    br
    br
    div.ui.segment

        h2.ui.header Tipos

        h3.ui.header Dimmer - ContentUrl
        div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer6,'show')") Show Dimmer
        div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer6,'hide')") Hide Dimmer
        div.ui.segment(
            sm-dimmer
            display = 'Ctrl.dimmer6.display'
            )
            dimmer-pane
                p Test
                p Test
            dimmer-template
                div(ng-include="'modules/sm-dimmer/template.html'")

        div( sm-accordion selector-class = '.title' )
            div.title
                i.dropdown.icon
                | Código

            div.content
                div.ui.segment
                    pre
                        code.html
                            div.ui.segment(
                                sm-dimmer
                                display = 'Ctrl.dimmer6.display'
                                )
                                dimmer-pane
                                    p Test
                                    p Test
                                dimmer-template
                                    div(ng-include="'modules/sm-dimmer/template.html'")
                    


        h3.ui.header Dimmer - Content
        div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer7,'show')") Show Dimmer
        div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer7,'hide')") Hide Dimmer
        div.ui.segment(
            sm-dimmer
            display = 'Ctrl.dimmer7.display'
            hover = 'Ctrl.dimmer7.hover'
            )
            dimmer-pane
                p Test
                p Test
            dimmer-template
                h1.ui.inverted.header hola

        h3.ui.header Dimmer - Page
        div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer8,'show')") Show Dimmer
        div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer8,'hide')") Hide Dimmer
        div.ui.segment(
            sm-dimmer
            display = 'Ctrl.dimmer8.display'
            dimmer-class = 'Ctrl.dimmer8.dimmerClass'
            hover = 'Ctrl.dimmer8.hover'
            )
            dimmer-pane
                p Test
                p Test
            dimmer-template
                div(ng-include="'modules/sm-dimmer/template.html'")

        h3.ui.header Dimmer - Hover
        div.ui.segment(
            sm-dimmer
            hover = 'Ctrl.dimmer9.hover'
            )
            dimmer-pane
                p Test
                p Test
            dimmer-template
                div(ng-include="'modules/sm-dimmer/template.html'")

    br
    br
    div.ui.segment

        h2.ui.header States

        h3.ui.header Active
        div.ui.button(ng-click="Ctrl.setDimmerState(Ctrl.dimmer4,'active')") Active
        div.ui.button(ng-click="Ctrl.setDimmerState(Ctrl.dimmer4,'disabled')") Disabled
        div.ui.segment(
            sm-dimmer
            state = 'Ctrl.dimmer4.state'
            dimmer-class = 'Ctrl.dimmer4.dimmerClass'
            )
            dimmer-pane
                p Test
                p Test

        h3.ui.header Disabled
        div.ui.button(ng-click="Ctrl.setDimmerState(Ctrl.dimmer5,'active')") Active
        div.ui.button(ng-click="Ctrl.setDimmerState(Ctrl.dimmer5,'disabled')") Disabled
        div.ui.segment(
            sm-dimmer
            state = 'Ctrl.dimmer5.state'
            dimmer-class = 'Ctrl.dimmer5.dimmerClass'
            )
            dimmer-pane
                p Test
                p Test

    br
    br
    div.ui.segment

        h2.ui.header Estilos

        h3.ui.header Blurring
        div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer1,'show')") Show Dimmer
        div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer1,'hide')") Hide Dimmer
        div.ui.blurring.segment(
            sm-dimmer
            sm-functions = 'smDimerFunctions'
            display = 'Ctrl.dimmer1.display'
            )
            dimmer-pane
                p Test
                p Test

        h3.ui.header Blurring - Inverted
        div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer2,'show')") Show Dimmer
        div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer2,'hide')") Hide Dimmer
        div.ui.blurring.segment(
            sm-dimmer
            sm-functions = 'smDimerFunctions'
            display = 'Ctrl.dimmer2.display'
            dimmer-class = 'Ctrl.dimmer2.dimmerClass' 
            )
            dimmer-pane
                p Test
                p Test

        h3.ui.header Simple Dimmer
        div.ui.dimmable.dimmed.segment(
            sm-dimmer
            sm-functions = 'smDimerFunctions'
            display = ''
            dimmer-class = 'Ctrl.dimmer3.dimmerClass' 
            )
            dimmer-pane
                p Test
                p Test

    br
    br
    div.ui.segment

        h2.ui.header Behavior

        div.ui.two.column.left.aligned.divided.grid.segment
            div.column
                div.ui.dimmable.dimmed.segment(
                    sm-dimmer
                    functions = 'Ctrl.dimmer10.functions'
                    hover = 'Ctrl.dimmer10.hover'
                    state = 'Ctrl.dimmer10.state'
                    display = 'Ctrl.dimmer10.display'
                    dimmer-class = 'Ctrl.dimmer10.dimmerClass' 
                    )
                    dimmer-pane
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test
                        p Test

                    dimmer-template
                        h1.ui.inverted.header Inside dimmer

                div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer10,'show')") Show Dimmer
                div.ui.button(ng-click="Ctrl.displayDimmer(Ctrl.dimmer10,'hide')") Hide Dimmer

            div.column
                h3.ui.header Opacity
                div.ui.action.small.input
                    input(type='text', ng-model='Ctrl.dimmer10.opacity')
                    button.ui.teal.right.icon.button(ng-click="Ctrl.dimmer10.functions.setOpacity( Ctrl.dimmer10.opacity )")
                            | Set


                div.ui.divider
                h3.ui.header Get dimmer
                div.ui.segment.left.aligned
                    div
                        button.ui.teal.left.floated.icon.button(ng-click="Ctrl.getDimmer(Ctrl.dimmer10)")
                            | Get
                    pre
                        code.
                            {{Ctrl.dimmer10.dimmer}}


                div.ui.divider
                h3.ui.header Get duration
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.duration')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.getDuration(Ctrl.dimmer10)")
                                | Get


                div.ui.divider
                h3.ui.header Has dimmer
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.hasDimmer')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.hasDimmer(Ctrl.dimmer10)")
                                | Check

                div.ui.divider
                h3.ui.header Is active
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.isActive')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.isActive(Ctrl.dimmer10)")
                                | Check


                div.ui.divider
                h3.ui.header Is disabled
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.isDisabled')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.isDisabled(Ctrl.dimmer10)")
                                | Check


                div.ui.divider
                h3.ui.header Is animating
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.isAnimating')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.isAnimating(Ctrl.dimmer10)")
                                | Check


                div.ui.divider
                h3.ui.header Is dimmer
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.isDimmer')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.isDimmer(Ctrl.dimmer10)")
                                | Check


                div.ui.divider
                h3.ui.header Is dimmable
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.isDimmable')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.isDimmable(Ctrl.dimmer10)")
                                | Check


                div.ui.divider
                h3.ui.header Is page dimmer
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.isPageDimmer')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.isPageDimmer(Ctrl.dimmer10)")
                                | Check


                div.ui.divider
                h3.ui.header Set active
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.setActive')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.setActive(Ctrl.dimmer10)")
                                | Set


                div.ui.divider
                h3.ui.header Set dimmable
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.setDimmable')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.setDimmable(Ctrl.dimmer10)")
                                | Set


                div.ui.divider
                h3.ui.header Set dimmed
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.setDimmed')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.setDimmed(Ctrl.dimmer10)")
                                | Set


                div.ui.divider
                h3.ui.header Set page dimmer
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.setPageDimmer')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.setPageDimmer(Ctrl.dimmer10)")
                                | Set


                div.ui.divider
                h3.ui.header Set disabled
                div.ui.segment.left.aligned
                    div.ui.action.small.input
                        input(type='text', ng-model='Ctrl.dimmer10.setDisabled')
                        button.ui.teal.right.icon.button(ng-click="Ctrl.setDisabled(Ctrl.dimmer10)")
                                | Set

        

    br
    br