//- index.jade
extends ../commons/views/layout.jade


block title
    title Semantic-UI - Dimmer


block content


    sm-dimmer-component-route

    

block script
    
    
    script(src='scripts/component-route.js')
    script(src='scripts/controller.js')
    script(src='scripts/sm-directive.js')

    script var myApp = angular.module('angularSemanticUI', ['smDimmerRoute']);

    

