
h2.ui.horizontal.divider.header Directiva smAccordion


h2.ui.header Parametros
p Un acordeón desencadena normalmente cuando se hace clic en su título. Sin embargo, puede cambiar el selector de disparo para especificar un elemento dentro de un título para su uso como un activador
    ul
        li selector-class: puede ser una clase, id o elemento

h2.ui.header Template Ejemplo
div.annotation.transition.visible
    div.ui.instructive.bottom.attached.segment
        div.ui.attached.top.label
            span.title   Template de Ejemplo
        pre
            code
                | 	&lt;div sm-accordion, selector-class  = '.title" &gt;
                | 	 	&lt;div class="active title"&gt;
                | 	 	 	&lt;i class="dropdown icon"&gt;&lt;/i&gt;
                | 	 	 	what is a dog?
                | 	 	&lt;/span&gt;
                | 	&lt;/div&gt;


h2.ui.header Ejemplo 1
div( sm-accordion selector-class = '.title' )
    div.active.title
        i.dropdown.icon
        | What is a dog?

    div.active.content
        p A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.

    div.title
        i.dropdown.icon
        | What kinds of dogs are there?

    div.content
        p There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.

    div.title
        i.dropdown.icon
        | How do you acquire a dog?

    div.content
        p Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.
        p A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.


h2.ui.header Ejemplo 2
div.ui.inverted.segment
    div.inverted( sm-accordion selector-class = '.title' )
        div.active.title
            i.dropdown.icon
            | What is a dog?

        div.active.content
            p A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.

        div.title
            i.dropdown.icon
            | What kinds of dogs are there?

        div.content
            p There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.

        div.title
            i.dropdown.icon
            | How do you acquire a dog?

        div.content
            p Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.
            p A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.
