//- index.jade
extends ../commons/views/layout.jade


block title
    title Ejemplo componente checkbox


block content
    div( ng-include="'docs.html'" )






block script
    script var myApp = angular.module('angularSemanticUI', [ 'smAccordion' ]);
    script(src='scripts/sm-directive.js')
