<!DOCTYPE html>
html(lang='en')

    head
        title Semantic-UI
        meta(charset='UTF-8')
        link(rel='stylesheet' href='modules/commons/styles.css')
        link(rel='stylesheet' href='bower_components/semantic/dist/semantic.min.css')
        //- href='bower_components/semantic/dist/semantic.min.css'
        //- href='vendor/semantic/semantic.min.css'
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/github.min.css")

    body(ng-app="angularSemanticUI")


        root-component


        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js')
        script(src="/node_modules/@angular/router/angular1/angular_1_router.js")
        script(src='bower_components/semantic/dist/semantic.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-highlightjs/0.6.1/angular-highlightjs.min.js")


        //app
        script(src='main-app/scripts/app.js')


        //modules
        script(src='modules/sm-accordion/scripts/component-route.js')
        script(src='modules/sm-checkbox/scripts/component-route.js')
        script(src='modules/sm-dimmer/scripts/component-route.js')
        script(src='modules/sm-dropdown/scripts/component-route.js')
        script(src='modules/sm-embed/scripts/component-route.js')


        //controllers
        script(src='modules/sm-checkbox/scripts/controller.js')
        script(src='modules/sm-dimmer/scripts/controller.js')
        script(src='modules/sm-dropdown/scripts/controller.js')
        script(src='modules/sm-embed/scripts/controller.js')


        //directives
        script(src='modules/sm-accordion/scripts/sm-directive.js')
        script(src='modules/sm-checkbox/scripts/sm-directive.js')
        script(src='modules/sm-dimmer/scripts/sm-directive.js')
        script(src='modules/sm-dropdown/scripts/sm-directive.js')
        script(src='modules/sm-embed/scripts/sm-directive.js')
